<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='/css/style.css' />
    <title></title>
</head>

<body>
    <nav>
        <a class="link" href="/exercises/new">Create a new Exercise</a>
    </nav>
    <div class="home-Indextitle">
    <h1>Exercise Index Page</h1>
    </div>
    <ul>
        <% for (let i=0; i < exercises.length; i++){ %>
            <li>
              <div class="Exercise-text">  You Added
                <a href="/exercises/<%= exercises[i].id %>">
                    <%= exercises[i].name; %>
                </a>
                you chose this type: <%= exercises[i].type; %>
                    <% if (exercises[i].isAccessible === true){ %> It
                        is Accessible. <% } else { %> It is not Accessible. <% } %>
              </div> 
                                <a href="/exercises/<%=exercises[i].id; %>/edit"> <div class="Exercise-text">Edit</div></a>

                                <form action="/exercises/<%= exercises[i].id %>?_method=DELETE" method="POST">
                                    <input class="button" type="submit" value="DELETE" />
                                </form>
            </li>
            <% } %>
    </ul>
</body>

</html>